[submodule "SimVis"]
	path = SimVis
	url = git@github.com:ComputationalPhysics/SimVis.git
[submodule "voronoi-md-analysis"]
	path = voronoi-md-analysis
	url = git@bitbucket.org:henriasv/voronoi-md-analysis.git
